h1 {
	color: orange;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  height: 258px;
  width: 100%;
}

.image-holder:hover {
	opacity: 0.75;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
}

#logout {
	font-size: 16px;
}
.nav-topic {
	font-size: 24px;
}

.navbar-brand {
	font-size: 24px;
}

.topic {
	  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}