{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fave Haunts</h1>
    <p class="lead">Find the Most Liked Food &amp; Fun Locations in NYC!</p>
  </div>
</div>
<div class="row">
	{% load static %}
	<div class="col-sm-6">
		<a href="{% url 'posts:food' %}">
			<!-- <img id="food" src="{% static 'posts/food.jpg' %}" alt="food" class="img-responsive" />	 -->
			<div class="image-holder" style="background-image: url('{% static 'posts/food.jpg' %}');">
			    &nbsp;
			</div>
		</a>
	</div>
	<div class="col-sm-6">
		<a href="{% url 'posts:fun' %}">
			<!-- <img id="fun" src="{% static 'posts/fun.jpg' %}" alt="food" class="img-responsive" />	 -->
			<div class="image-holder" style="background-image: url('{% static 'posts/fun.jpg' %}');">
			    &nbsp;
			</div>
		</a>
		<!-- <h4 class="topic">Fun</h4> -->
	</div>
</div>

<br>
<br>

{% endblock %}