{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fave Haunts</h1>
    <p class="lead">Find the Most Liked Food &amp; Fun Locations in NYC!</p>
  </div>
</div>
<div class="row">
	{% load static %}
	<div class="col-sm-6">
		<a href="{% url 'posts:food' %}">
			<img id="food" src="{% static 'posts/food.jpg' %}" alt="food" class="img-responsive" />	
		</a>
		<h4 class="topic">Food</h4>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-danger" href="{% url 'posts:fun' %}">
			<img id="fun" src="{% static 'posts/food.jpg' %}" alt="food" class="img-responsive" />	
		</a>
		<h4 class="topic">Fun</h4>
	</div>
</div>

<br>
<br>

{% endblock %}