{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fave Haunts</h1>
    <p class="lead">Find the Most Liked Food &amp; Fun Locations in NYC!</p>
  </div>
</div>
<div class="row">
	{% load static %}
	<div class="col-sm-6">
		<img id="food" src="{% static 'posts/food.jpg' %}" alt="food" class="img-responsive" />	
		<h4 class="topic">Food</h4>
	</div>
	<div class="col-sm-6">
		<img id="fun" src="{% static 'posts/food.jpg' %}" alt="food" class="img-responsive" />	
		<h4 class="topic">Fun</h4>
	</div>
</div>

<a class="btn btn-primary" href="{% url 'posts:create' %}">New Post</a>

<br>
<br>

<a class="btn btn-danger" href="{% url 'posts:food' %}">Food</a>
<a class="btn btn-danger" href="{% url 'posts:entertainment' %}">Entertainment</a>

{% for post in posts.all %}

<table>	
	<tr>
		<td style="padding-right: 20px">
			<a href="#" onClick="document.getElementById('upvote{{ post.id }}').submit()">
				<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> 
			</a>
			<br>
			{{ post.votes_total }} <br>
			<a href="#" onClick="document.getElementById('downvote{{ post.id }}').submit()">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> 
			</a>
		</td>
		<td>
			<a href="{{ post.url }}">{{ post.title }}</a>
			<br>
			{{ post.pub_date_pretty }} by <a href="{% url 'posts:userposts' post.author.id %}">{{ post.author.username }}</a>
			<br>
			<a href="{% url 'posts:upvoted' post.author.id %}">UPVOTED</a>
		</td>
	</tr>
</table>

<form id="upvote{{post.id}}" method="POST" action="{% url 'posts:upvote' post.id %}">
	{% csrf_token %}
	<input type="hidden" />
</form>

<form id="downvote{{post.id}}" method="POST" action="{% url 'posts:downvote' post.id %}">
	{% csrf_token %}
	<input type="hidden" />
</form>

{% endfor %}

{% endblock %}